<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FamilyFinance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E407A9C71BDE0D9500200713</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E407A9E01BDE0D9500200713</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E407A9EB1BDE0D9500200713</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
